<div id="content_login">
    <div id="cont">

        <div id="imgcontainer">
            <img src="/assets/imgLogin.png">
        </div>
        <form>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput id="nombre">
            </mat-form-field>
            <br>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput id="password">
            </mat-form-field>
            <div id="footerForm">
                <div id="btn">
                    <button mat-raised-button color="primary" (click)="goToHome()">Login</button>

                </div>
                <br>

            </div>
        </form>



    </div>
</div>